---
title: PLivo Phone APIs

language_tabs:
  - JSON Response

toc_footers:
  - <span class="copyright">© 2017 Plivo Inc.</span>

search: true
---

# Introduction

Welcome to the Plivo Phone Number APIs!
Plivo exposes a list of REST APIs to perform various actions on phone numbers.
The base URL for all API requests is

`https://api.plivo.com/v1/`

You can view JSON response samples in the dark area to the right.

## Authentication

All requests to Plivo API are authenticated with Basic Auth using your AUTH ID and AUTH TOKEN Your Plivo AUTH ID and AUTH TOKEN can be found when you login to your [dashboard](https://manage.plivo.com/dashboard/).
<%= image_tag 'auth_id_auth_token.png' %>

## Content Type
Plivo only accepts input of the type application/json. All POST requests arguments must be passed as json with the Content-Type set as application/json.

All GET and DELETE request arguments must be passed in the query string.

## Asynchronous Request

```json
{
    "message": "async api spawned",
    "api_id": "63f0761a-e0ed-11e1-8ea7-12313924e3a6"
}
```

All requests to Plivo API can be made asynchronous by adding the parameters listed below. When an asynchronous call is made, Plivo will return a generic response with the api_id and the API responses will be sent to the callback URL.

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>callback_url</td>
            <td>The URL notified by the API response is available and to which the response is sent.</td>
        </tr>
        <tr>
            <td>callback_method</td>
            <td>The method used to notify the callback_url. Defaults to POST.</td>
        </tr>
    </tbody>
</table>

## API Response

> Success

```json
{
  "api_id": "97ceeb52-58b6-11e1-86da-77300b68f8bb",
  "message": "call fired",
  "request_uuid": "75b26856-8638-11e0-802c-6d99d509954e"
}
```

> Error

```json
{
  "api_id": "97ceeb52-58b6-11e1-86da-77300b68f8bb",
  "error": "answer_url parameter is missing",
  "request_uuid": "56hf4856-8638-11e0-802c-65j6gd39954e"
}
```

All Plivo APIs return a response in json format. An api_id is set in each response to uniquely identify your request. The API returns one of the following HTTP status codes.

<table>
    <thead>
        <tr>
            <th>Status Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>200</td>
            <td>Request has been executed</td>
        </tr>
        <tr>
            <td>201</td>
            <td>Resource created</td>
        </tr>
        <tr>
            <td>202</td>
            <td>Resource changed</td>
        </tr>
        <tr>
            <td>204</td>
            <td>Resource deleted</td>
        </tr>
        <tr>
            <td>400</td>
            <td>A parameter is missing or is invalid</td>
        </tr>
        <tr>
            <td>401</td>
            <td>Authentication failed</td>
        </tr>
        <tr>
            <td>404</td>
            <td>Resource cannot be found</td>
        </tr>
        <tr>
            <td>405</td>
            <td>HTTP method not allowed</td>
        </tr>
        <tr>
            <td>500</td>
            <td>Server error</td>
        </tr>
    </tbody>
</table>

### Response Attributes

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>api_id</td>
            <td>Identifies the request.</td>
        </tr>
        <tr>
            <td>error</td>
            <td>Indicates there is an error and provides information regarding the error.</td>
        </tr>
        <tr>
            <td>message</td>
            <td>Provides information regarding request.</td>
        </tr>
    </tbody>
</table>

# Number APIs

BaseURI: `https://api.plivo.com/v1/Account/{auth_id}/Number/`

The following actions can be performed using the Number APIs.

## List All Rented Numbers

> HTTP Status Code: 200

```json
{
    "api_id": "114de006-1c95-11e4-8a4a-123140008edf",
    "meta": {
        "limit": 3,
        "next": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Number/?limit=3&offset=3",
        "offset": 0,
        "previous": null,
        "total_count": 20
    },
    "objects": [
        {
            "added_on": "2014-08-05",
            "alias": null,
            "application": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Application/29986316244302815/",
            "carrier": "Plivo",
            "monthly_rental_rate": "0.80000",
            "number": "18135401302",
            "number_type": "local",
            "region": "Florida, UNITED STATES",
            "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Number/18135401302/",
            "sms_enabled": true,
            "sms_rate": "0.00000",
            "sub_account": null,
            "voice_enabled": true,
            "voice_rate": "0.00850"
        },
        {
            "added_on": "2013-01-01",
            "alias": "",
            "application": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Application/16632559604105954/",
            "carrier": "Plivo",
            "monthly_rental_rate": "0.80000",
            "number": "14153661106",
            "number_type": "local",
            "region": "BELVEDERE, UNITED STATES",
            "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Number/14153661106/",
            "sms_enabled": true,
            "sms_rate": "0.00000",
            "sub_account": null,
            "voice_enabled": true,
            "voice_rate": "0.00850"
        },
        {
            "added_on": "2013-03-25",
            "alias": "",
            "application": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Application/20372631212782799/",
            "carrier": "Plivo",
            "monthly_rental_rate": "0.80000",
            "number": "14152753408",
            "number_type": "local",
            "region": "California, UNITED STATES",
            "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Number/14152753408/",
            "sms_enabled": true,
            "sms_rate": "0.00000",
            "sub_account": null,
            "voice_enabled": true,
            "voice_rate": "0.00850"
        }
    ]
}
```

This API lets you list of numbers rented on Plivo and numbers added to your account.

`GET https://api.plivo.com/v1/Account/{auth_id}/Number/`

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>type</td>
            <td>The type of number you are filtering. You can filter by local and tollfree numbers. Defaults to a local number.</td>
        </tr>
        <tr>
            <td>number_startswith</td>
            <td>Used to specify the beginning of the number. For example, if the number '24' is specified, the API will fetch only those numbers beginning with '24'.</td>
        </tr>
        <tr>
            <td>subaccount</td>
            <td>Requires the auth_id of the subaccount as input. If this parameter is included in the request, all numbers of the particular subaccount are displayed.</td>
        </tr>
        <tr>
            <td>alias</td>
            <td>This is a name given to the number. The API will fetch only those numbers with the alias specified.</td>
        </tr>
        <tr>
            <td>services</td>
            <td>Filters out phone numbers according to the services you want from that number. The following values are valid:
                <ul>
                    <li>voice - Returns a list of numbers that provide 'voice' services. Additionally, if the numbers offer both 'voice' and 'sms', they are also listed.
                        <b>Note</b> - This option <b>does not</b> exclusively list those services that provide both voice and sms .</li>
                    <li>voice,sms - Returns a list of numbers that provide both 'voice' and 'sms' services.</li>
                    <li>sms - Returns a list of numbers that provide only 'sms' services.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>limit</td>
            <td>Used to display the number of results per page. The maximum number of results that can be fetched is 20.
            </td>
        </tr>
        <tr>
            <td>offset</td>
            <td>Denotes the number of value items by which the results should be offset. Eg:- If the result contains a 1000 values and limit is set to 10 and
                offset is set to 705, then values 706 through 715 are displayed in the results. This parameter is also used for pagination of the results.
            </td>
        </tr>
    </tbody>
</table>

### Response Attributes

<dl>
    <dt>added_on</dt>
    <dd>string
    <span>The date on which the number was rented on your account. The date format is <code>YYYY-MM-DD</code></span>
    </dd>

    <dt>alias</dt>
    <dd>string
    <span>A friendly name for your Plivo number.</span>
    </dd>

    <dt>carrier</dt>
    <dd>string
    <span>The carrier which is linked to this number. This can either be a Plivo carrier or a custom carrier added
    using the <a href="https://www.plivo.com/docs/api/incomingcarrier/">IncomingCarrier API</a>.</span>
    </dd>

    <dt>monthly_rental_rate</dt>
    <dd>string
    <span>The monthly rental for this number in USD.</span>
    </dd>

    <dt>number</dt>
    <dd>string
    <span>The phone number itself.</span>
    </dd>

    <dt>number_type</dt>
    <dd>string
    <span>The type of the number. The values can be 'local', 'tollfree' and 'national'</span>
    </dd>

    <dt>region</dt>
    <dd>string
    <span>The region, with the city and the country this number belongs to.</span>
    </dd>

    <dt>sms_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is SMS enabled. If the value
    returned is 'true', then you will be able to receive SMS on this number.</span>
    </dd>

    <dt>sms_rate</dt>
    <dd>string
    <span>The cost of receiving an SMS on the number in USD.</span>
    </dd>

    <dt>voice_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is voice enabled. If the value
    returned is 'true', then you will be able to receive calls on this number.</span>
    </dd>

    <dt>voice_rate</dt>
    <dd>string
    <span>The cost of receiving a voice call on this number per minute in USD.</span>
    </dd>

    <dt>subaccount</dt>
    <dd>string
    <span>The subaccount associated with the number. If the number belongs to the main
    parent account, this value will be <code>null</code>.</span>
    </dd>
</dl>

## Get Details of a Rented Number

> HTTP Status Code: 200

```json
{
    "added_on": "2014-02-14",
    "alias": null,
    "api_id": "88625e5e-1c92-11e4-80aa-12313f048015",
    "application": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Application/29986316244302815/",
    "carrier": "Plivo",
    "monthly_rental_rate": "0.80000",
    "number": "17609915566",
    "number_type": "local",
    "region": "California, UNITED STATES",
    "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/Number/17609915566/",
    "sms_enabled": true,
    "sms_rate": "0.00000",
    "sub_account": null,
    "voice_enabled": true,
    "voice_rate": "0.00850"
}
```

This API lets you get details of a single number on your Plivo account.

`GET https://api.plivo.com/v1/Account/{auth_id}/Number/{number}/``

### Arguments

None

Response Attributes

<dl>
    <dt>added_on</dt>
    <dd>string
    <span>The date on which the number was rented on your account. The date format is <code>YYYY-MM-DD</code></span>
    </dd>

    <dt>alias</dt>
    <dd>string
    <span>A friendly name for your Plivo number.</span>
    </dd>

    <dt>application</dt>
    <dd>string
    <span>The Plivo application linked to the number.</span>
    </dd>

    <dt>carrier</dt>
    <dd>string
    <span>The carrier which is linked to this number. This can either be a Plivo carrier or a custom carrier added
    using the <a href="/docs/api/incomingcarrier/">IncomingCarrier API</a>.</span>
    </dd>

    <dt>monthly_rental_rate</dt>
    <dd>string
    <span>The monthly rental for this number in USD.</span>
    </dd>

    <dt>number</dt>
    <dd>string
    <span>The phone number itself.</span>
    </dd>

    <dt>number_type</dt>
    <dd>string
    <span>The type of the number. The values can be 'local', 'tollfree' and 'national'</span>
    </dd>

    <dt>region</dt>
    <dd>string
    <span>The region, with the city and the country this number belongs to.</span>
    </dd>

    <dt>sms_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is SMS enabled. If the value
    returned is 'true', then you will be able to receive SMS on this number.</span>
    </dd>

    <dt>sms_rate</dt>
    <dd>string
    <span>The cost of receiving an SMS on the number in USD.</span>
    </dd>

    <dt>voice_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is voice enabled. If the value
    returned is 'true', then you will be able to receive calls on this number.</span>
    </dd>

    <dt>voice_rate</dt>
    <dd>string
    <span>The cost of receiving a voice call on this number per minute in USD.</span>
    </dd>

    <dt>subaccount</dt>
    <dd>string
    <span>The subaccount associated with the number. If the number belongs to the main
    parent account, this value will be <code>null</code>.</span>
    </dd>
</dl>

## Add a number from your own carrier

> HTTP Status Code: 202

```json
{
  "message": "changed",
  "api_id": "5a9fcb68-582d-11e1-86da-6ff39efcb949"
}
```

This API enables you to add a number of your own carrier.

`POST https://api.plivo.com/v1/Account/{auth_id}/Number/`

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>numbers (mandatory)</td>
            <td>A comma separated list of numbers that need to be added for
            the carrier. Make sure that you configure the numbers to point
            to the sip server @sbc.plivo.com. Eg: If the number
            you own from your carrier is 18554675486 then the sip address
            it needs to point to is 18554675486@sbc.plivo.com</td>
        </tr>
        <tr>
            <td>carrier (mandatory)</td>
            <td>The carrier_id of the IncomingCarrier that the number is
            associated with. For more information, check our
            <a href="https://www.plivo.com/docs/api/incomingcarrier/">IncomingCarrier API</a></td>
        </tr>
        <tr>
            <td>region (mandatory)</td>
            <td>This is the region that is associated with the Number.
            You can use it to organize numbers based on the area they are from.</td>
        </tr>
        <tr>
            <td>number_type (optional)</td>
            <td>This field does not impact the way Plivo uses this number.
            It is primarily adding more information about your number. You may
            use this field to categorize between local and tollfree numbers. Default is local.</td>
        </tr>
        <tr>
            <td>app_id (optional)</td>
            <td>The application id of the application that is to be linked.</td>
        </tr>
        <tr>
            <td>subaccount (optional)</td>
            <td>The auth_id of the subaccount to which this number should be
            added. This can only be performed by a main account holder.</td>
        </tr>
    </tbody>
</table>

## Edit a Number

> HTTP Status Code: 202

```json
{
  "message": "changed",
  "api_id": "5a9fcb68-582d-11e1-86da-6ff39efcb949"
}
```

This API enables you to change the application and subaccount associated with a number you rented.

`POST https://api.plivo.com/v1/Account/{auth_id}/Number/{number}/`

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>app_id (optional)</td>
            <td>The application id of the application that is to be linked.
            If this is set to null, then any existing application is unlinked
            from the number.</td>
        </tr>
        <tr>
            <td>subaccount (optional)</td>
            <td>The auth_id of the subaccount to which this number should
            be added. This can only be performed by a main account holder.</td>
        </tr>
        <tr>
            <td>alias (optional)</td>
            <td>The textual name given to the number.</td>
        </tr>
    </tbody>
</table>

## Unrent a Number

> HTTP Status Code: 204

This API lets you unrent a number on Plivo. This operation cannot be undone.

`DELETE https://api.plivo.com/v1/Account/{auth_id}/Number/{number}/`

### Arguments

None

# Phone Number APIs

BaseURI: `https://api.plivo.com/v1/Account/{auth_id}/PhoneNumber/`

Using this API you can search for a number based on the number pattern, region and number type. The following actions can be performed with the PhoneNumber API.

## Search for New Numbers

> HTTP Status Code: 200

```json
{
    "api_id": "859428b0-1c88-11e4-a2d1-22000ac5040c",
    "meta": {
        "limit": 20,
        "next": null,
        "offset": 0,
        "previous": null,
        "total_count": 9
        },
    "objects": [
    {
        "country": "UNITED STATES",
        "lata": 722,
        "monthly_rental_rate": "0.80000",
        "number": "14154009186",
        "type": "fixed",
        "prefix": "415",
        "rate_center": "SNFC CNTRL",
        "region": "United States",
        "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/PhoneNumber/14154009186/",
        "restriction": null,
        "restriction_text": null,
        "setup_rate": "0.00000",
        "sms_enabled": true,
        "sms_rate": "0.00800",
        "voice_enabled": true,
        "voice_rate": "0.00500"
        },
    {
        "country": "UNITED STATES",
        "lata": 722,
        "monthly_rental_rate": "0.80000",
        "number": "14154009187",
        "type": "fixed",
        "prefix": "415",
        "rate_center": "SNFC CNTRL",
        "region": "United States",
        "resource_uri": "/v1/Account/MANWVLYTK4ZWU1YTY4ZT/PhoneNumber/14154009187/",
        "restriction": null,
        "restriction_text": null,
        "setup_rate": "0.00000",
        "sms_enabled": true,
        "sms_rate": "0.00800",
        "voice_enabled": true,
        "voice_rate": "0.00500"
        }
    ]
}
```

This API lets you search for fixed, mobile and tollfree numbers available on Plivo. Searches can be performed based on the country ISO, pattern, number type and region. We return a list of numbers which can then be bought.

`GET https://api.plivo.com/v1/Account/{auth_id}/PhoneNumber/`

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>country_iso (mandatory)</td>
            <td>The ISO code A2 of the country ( BE for Belgium, DE for Germany, GB for United Kingdom, US for United States etc ). See the <a href="http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">Wikipedia site</a> for a list of ISOs for different countries.
            </td>
        </tr>
        <tr>
            <td>type (optional)
            </td>
            <td>The type of number you are looking for. The possible number types are <code>fixed</code>, <code>mobile</code> and <code>tollfree</code>. Defaults to <code>any</code> if this field is not specified. <code>type</code> also accepts the value <code>any</code>, which will search for all 3 number types.
            </td>
        </tr>
        <tr>
            <td>pattern (optional)
            </td>
            <td>Represents the pattern of the number to be searched. Adding a pattern will search for numbers which start with the country code + pattern. For eg. a pattern of 415 and a country_iso: US will search for numbers starting with 1415.
            </td>
        </tr>
        <tr>
            <td>region>(optional)</td>
            <td>This filter is only applicable when the <code>type</code> is fixed. If the <code>type</code> is not provided, it is assumed to be fixed. Region based filtering can be performed with the following terms:
                <ul>
                    <li>Exact names of the region: You could use region=Frankfurt if you were looking for a number in Frankfurt. Performed if the search term is three or more characters in length.</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>services (optional)</td>
            <td>Filters out phone numbers according to the services you want from that number. The following values are valid:
                <ul>
                    <li><code>voice</code> - If this option is selected, it ensures that the results have voice enabled numbers. These numbers may or may not be SMS enabled.</li>
                    <li><code>voice,sms</code> - If this option is selected, it ensures that the results have both voice and sms enabled on the same number.</li>
                    <li><code>sms</code> - If this option is selected, it ensures that the results have sms enabled numbers. These numbers may or may not be voice enabled.</li>
                </ul>
                By default, numbers that have either voice or sms or both enabled are returned.
            </td>
        </tr>
        <tr>
            <td>lata (optional)</td>
            <td>Numbers can be searched using <a href="http://en.wikipedia.org/wiki/Local_access_and_transport_area">Local Access and Transport Area</a>. This filter is applicable only for <code>country_iso</code> US and CA.</td>
        </tr>
        <tr>
            <td>rate_center (optional)</td>
            <td>Numbers can be searched using <a href="http://en.wikipedia.org/wiki/Telephone_exchange">Rate Center</a>. This filter is application only for <code>country_iso</code> US and CA.</td>
        </tr>
        <tr>
            <td>limit (optional)</td>
            <td>Used to display the number of results per page. The maximum number of results that can be fetched is 20.
            </td>
        </tr>
        <tr>
            <td>offset (optional)</td>
            <td>Denotes the number of value items by which the results should be offset. Eg:- If the result contains a 1000 values and <code>limit</code> is set to 10 and
                <code>offset</code> is set to 705, then values 706 through 715 are displayed in the results. This parameter is also used for pagination of the results.
            </td>
        </tr>
    </tbody>
</table>

### Response Attributes

<dl>
    <dt>country</dt>
    <dd>string
    <span>The country to which the number belongs to.</span>
    </dd>

    <dt>lata</dt>
    <dd>string
    <span><code>lata</code> represents <a href="http://en.wikipedia.org/wiki/Local_access_and_transport_area">Local access and transport area</a> and will only
    be present for United States and Canada numbers.</span>
    </dd>

    <dt>number</dt>
    <dd>string
    <span>The phone number which is available on Plivo and can be purchased using the API.</span>
    </dd>

    <dt>type</dt>
    <dd>string
    <span>The type of the number associated with the group. The values can be 'fixed', 'mobile' and 'tollfree'</span>
    </dd>

    <dt>prefix</dt>
    <dd>string
    <span>The number prefix. This is the area code of the number.</span>
    </dd>

    <dt>rate_center</dt>
    <dd>string
    <span>The <code>rate_center</code> is only available for United States and Canada numbers.</span>
    </dd>

    <dt>restriction</dt>
    <dd>string
    <span>Numbers in some countries will have a restriction, in such a case, you will have to provide a verification
    document to activate the number after buying it. Numbers can have the following restriction values:
    <ul>
    <li><code>city-address</code>: A local city address proof is needed to activate this number.</li>
    <li><code>country-address</code>: An address proof is needed of the country this number belongs to.</li>
    <li><code>terms-and-conditions</code>: Your number will be activated without any verification, however you must submit
    a local address proof whenever Plivo requests for one.</li>
    <li><code>null</code>: Your number will be activated after buying and no address proof is required.</li>
    </ul>
    </span>
    </dd>

    <dt>restriction_text</dt>
    <dd>string
    <span>Contains text which describes the restriction.</span>
    </dd>

    <dt>region</dt>
    <dd>string
    <span>The region, with the city and the country this number belongs to.</span>
    </dd>

    <dt>monthly_rental_rate</dt>
    <dd>string
    <span>The monthly rent in USD for each number. The monthly rent is deducted
    on the 1st of every month and is pro-rated if the number is purchased any time in the middle of
    a month. For eg. If the number is bought on 20th of a month, Plivo will charge for the next 10
    days of the month.</span>
    </dd>

    <dt>setup_rate</dt>
    <dd>string
    <span>The one-time setup cost for the number in USD.</span>
    </dd>

    <dt>sms_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is SMS enabled. If the value
    returned is 'true', then you will be able to receive SMS on this number.</span>
    </dd>

    <dt>sms_rate</dt>
    <dd>string
    <span>The cost of receiving an SMS on the number in USD.</span>
    </dd>

    <dt>voice_enabled</dt>
    <dd>boolean
    <span>Lets you know if the number is voice enabled. If the value
    returned is 'true', then you will be able to receive calls on this number.</span>
    </dd>

    <dt>voice_rate</dt>
    <dd>string
    <span>The cost of receiving a voice call on this number per minute in USD.</span>
    </dd>
</dl>

## Buy Number

> HTTP Status Code: 201

```json
{
    "api_id": "aa52882c-1c88-11e4-bd8a-12313f016a39",
    "message": "created",
    "numbers": [
        {
            "number": "14154009186",
            "status": "Success"
        }
    ],
    "status": "fulfilled"
}
```

> In certain countries where there are address regulations, you will receive a response similar to the following response. We will send an email to your registered account email with the requirements.

```json
{
    "api_id": "aa52882c-1c88-11e4-bd8a-12313f016a39",
    "message": "created",
    "numbers": [
        {
            "number": "4969365065273",
            "status": "pending"
        }
    ],
    "status": "fulfilled"
}
```

The number retrieved from the search above should be used as an input to buy the number.

 `POST https://api.plivo.com/v1/Account/{auth_id}/PhoneNumber/{number}/`

### Arguments

 <table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>app_id (optional)</td>
            <td>The ID of the application that you want assigned to the Number. If not specified, then it is assigned to the default application of the Account.</td>
        </tr>
    </tbody>
</table>
