---
title: Plivo Internal APIs

language_tabs:
  - JSON Response

toc_footers:
  - <span class="copyright">© 2017 Plivo Inc.</span>

search: true
---

# Introduction

These are some internal APIs used at Plivo.

You can view JSON response samples in the dark area to the right.

## Authentication

All requests to Plivo API are authenticated with Basic Auth using the account/subaccount AUTH ID and AUTH TOKEN visible at the [dashboard](https://manage.plivo.com/dashboard/).
<%= image_tag 'auth_id_auth_token.png' %>

## API Response Status

APIs return one of the following HTTP status codes.

<table>
    <thead>
        <tr>
            <th>Status Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>200</td>
            <td>Request has been executed</td>
        </tr>
        <tr>
            <td>201</td>
            <td>Resource created</td>
        </tr>
        <tr>
            <td>202</td>
            <td>Resource changed</td>
        </tr>
        <tr>
            <td>204</td>
            <td>Resource deleted</td>
        </tr>
        <tr>
            <td>400</td>
            <td>A parameter is missing or is invalid</td>
        </tr>
        <tr>
            <td>401</td>
            <td>Authentication failed</td>
        </tr>
        <tr>
            <td>404</td>
            <td>Resource cannot be found</td>
        </tr>
        <tr>
            <td>405</td>
            <td>HTTP method not allowed</td>
        </tr>
        <tr>
            <td>500</td>
            <td>Server error</td>
        </tr>
    </tbody>
</table>

# Number & PhoneNumber Internal APIs

The following actions can be performed using the Number/PhoneNumber internal APIs.

## Add number to Inventory

> Success

```json
{
    "status": "success",
    "message": "Number 0123456789 has been added successfully to the inventory"
}
```

> Failure

```
{
    "status": "failed",
    "Message": "Exception while saving Number 0123456789 to Phone Inventory",
    "Reason": "Error Message"
}
```

This API lets adding BW US number to Plivo Phone Inventory.

`POST /api/v1/AddPhoneNumber/`

[Source](https://github.com/plivo/plivocloud/blob/cb70493cd1452f7dc22b97a5dc5620cb29aa661c/plivo_cloud/plivo_api/internal_api.py#L2374)

### Arguments

<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>number</td>
            <td>The number to be added</td>
        </tr>
        <tr>
            <td>number_type</td>
            <td>This field may be used to categorize between local and tollfree numbers. Default is local.</td>
        </tr>
        <tr>
            <td>sms_enabled</td>
            <td>Boolean to denote if number is sms enabled</td>
        </tr>
        <tr>
            <td>rented_from_carrier</td>
            <td>Rented from carrier date</td>
        </tr>
        <tr>
            <td>rate_center</td>
            <td>Rate Center</td>
        </tr>
        <tr>
            <td>lata</td>
            <td>Numbers can be searched using <a href="http://en.wikipedia.org/wiki/Local_access_and_transport_area">Local Access and Transport Area</a>. This filter is applicable only for <code>country_iso</code> US and CA.</td>
        </tr>
        <tr>
            <td>prefix</td>
            <td>This is the area code of the number.</td>
        </tr>
        <tr>
            <td>state</td>
            <td>Region's state.</td>
        </tr>
    </tbody>
</table>

## Check Source Number

> Success 200

> Failure 404

This API lets check if source number is present in the account.

`GET /api/v1/Internal/Account/{AUTH_ID}/NumberCheck/{SOURCE_NUMBER}/`

[Source](https://github.com/plivo/plivocloud/blob/cb70493cd1452f7dc22b97a5dc5620cb29aa661c/plivo_cloud/plivo_api/internal_api.py#L983)

### Arguments

None

## Get Sandbox Numbers

> Success 200

```
[
  "919123456789",
  "919123456790"
]
```

> Failure 404

This API shows sandbox numbers for the account.

`GET /api/v1/Internal/Account/{AUTH_ID}/SandboxNumbers/`

[Source](https://github.com/plivo/plivocloud/blob/cb70493cd1452f7dc22b97a5dc5620cb29aa661c/plivo_cloud/plivo_api/internal_api.py#L997)

### Arguments

None

## Add numbers to Inventory

> Success

```json
{
    "message": "The numbers have been added to the inventory",
    "number": "[0123456789, 1234567890]"
}
```

> Failure

```
{
    "status": "failure",
    "message": "Phone number 0123456789 could not be added"
}
```

This API lets adding a list of numbers to Plivo Phone Inventory.

`POST /api/v1/Internal/Number/`

[Source](https://github.com/plivo/plivocloud/blob/cb70493cd1452f7dc22b97a5dc5620cb29aa661c/plivo_cloud/plivo_api/add_numbers_to_inventory.py#L35)

### Arguments

A JSON of parameters are accepted.
<table>
    <thead>
        <tr>
            <th>JSON Parameters</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>numbers</td>
            <td>List of numbers to be added</td>
        </tr>
        <tr>
            <td>carrier_id</td>
            <td>The ID of the carrier which is linked to these numbers. This can either be a Plivo carrier or a custom carrier added using the IncomingCarrier API.</td>
        </tr>
        <tr>
            <td>tier</td>
            <td>Incoming Carrier Tier</td>
        </tr>
        <tr>
            <td>number_type</td>
            <td>This field may be used to categorize between local and tollfree numbers. Default is local.</td>
        </tr>
        <tr>
            <td>product_plan</td>
            <td>Product Plan name to be offered to market</td>
        </tr>
        <tr>
            <td>voice_enabled</td>
            <td>Boolean to denote if numbers are voice enabled</td>
        </tr>
        <tr>
            <td>sms_enabled</td>
            <td>Boolean to denote if numbers are sms enabled</td>
        </tr>
        <tr>
            <td>region_id</td>
            <td>The ID of region, with the city and the country these numbers belongs to.</td>
        </tr>
        <tr>
            <td>rate_center</td>
            <td>Rate Center</td>
        </tr>
        <tr>
            <td>lata</td>
            <td>Numbers can be searched using <a href="http://en.wikipedia.org/wiki/Local_access_and_transport_area">Local Access and Transport Area</a>. This filter is applicable only for <code>country_iso</code> US and CA.</td>
        </tr>
        <tr>
            <td>username</td>
            <td>Account's username(from User table)</td>
        </tr>
    </tbody>
</table>
